ion-label {
    --color:#3f33f3;
}
#bingoFieldBtn {
    width: 23%;
    font-size: smaller;
    word-wrap: break-all;
    white-space: normal;
    height: 80px;
}
#losowaniebtn {
    font-size: large;
    width: max-content;
    margin-bottom: 10%;
}